* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {}

/* Importing Fonts */

body,button,select, ::placeholder {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* Utilities Classes */
img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

/* Homepage */
/* Layout */
body {
    height: 100vh;
}

header {
    height: 20vh;
}

main {
    height: 70vh;
    padding-top: 1rem;
    overflow-y: scroll;
}

footer {
    height: 10vh;
}

main aside {
    flex-basis: 25%;
}

main section.main-content {
    flex-basis: 75%;
}

.section-title {
    padding: 17px 20px;
    border-top: solid 12px #D9D9D9;
    border-left: solid 12px #D9D9D9;
    border-right: solid 12px #D9D9D9;
    font-weight: bold;
}

header {
    border-bottom: 1px solid #F2ECEC;
    padding-bottom: 1rem;
}

header .logo-and-sub-title img {
    max-width: 300px;
    width: 100%;
}

.sidebar {
    margin-right: 30px;
}

.sidebar ul li {
    list-style-type: none;
    background: #CAE9FF;
    border-bottom: 1px solid #DCCCBB;
    transition: all 0.5s ease-in-out;
   &:hover{
    background: #f8961e;
    a{
        color: #fff;
    }
   }
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    padding: 14px 12px;
    display: block;
    transition: all 0.5s ease-in-out;
}

main .hero {
    height: 400px;
    position: relative;

    background: url('img/Hero_Section_background.jpeg');
    background-size: cover;
    padding-left: 5%;
    padding-top: 30%;
}

main .hero::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #00000062;
    left: 0;
    top: 0;
}

main .hero h1 {
    font-size: 40px;
    color: #fff;
    position: relative;
    z-index: 9;
}

/* Cards */
.cards-sections {
    padding-top: 2rem;
    .sort-and-search{
        select, input{
            padding: 0.3rem 0.5rem;
        }
        .search-bar form{
            position: relative;
            z-index: 1;
        }
        svg{
            width: 1rem;
            height: 1rem;
            position: absolute;
            right: 3px;
            z-index: 2;
            top: 5px;
        }
    }
    .cards-container{
        flex-wrap: wrap;
    }
    .card {
        max-width: 550px;
        flex-basis: 48%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        transition: all 0.5s ease-in-out;
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            img{
                transform: scale(1.1) rotate(-5deg);
            }
        }
        svg{
            max-width: 65px;
            max-height: 65px;
        }
        .image-section {
            overflow: hidden;
            position: relative;
            height: 350px;
            &::after{
                content:"";
                height: 100%;
                width: 100%;
                background: #0000003b;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 2;
                border-radius: 12px;
            }
            img{
                border-radius: 12px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
                position: relative;
                transition: all 0.85s ease-in;
            }
            svg{
                position: absolute;
                top: 5px;
                right: 5px;
                height: 30px;
                width: 30px;
                z-index: 3;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        h3{
            font-size: 1.5rem;
            font-weight: 500;
            padding:0.5rem 0;
            display: inline-block;
        }
        .card-metas{
            font-size: 1rem;
            svg{
                height: 0.8rem;
                width: 0.8rem;
            }
        }
        .pricing-section{
            padding:1rem 0;
            button{
                background: #f8961e;
                padding: 1rem;
                border: unset;
                border-radius: 30px;
                color: #fff;
                &:hover{
                    cursor: pointer;
                }
             
            }
            .left{
                h6, span{
                    font-weight: 400;
                }
            }
        }
    }
}



footer {
    background: #D9D9D9;
    padding-top: 28px;
    padding-bottom: 28px;
}

#footer-container {
    height: 100%;
}